body{
    background-color: aquamarine;
    color: rgb(247, 127, 211);

}
header {
    background-color: black;
    margin: 20px;
    padding: 15px;
    border: 5px solid salmon;
}
h1 {
    text-align: center;
    font-size: 50px;

}
div {
    background-color: aqua;
    width: auto;
    border: 15px solid rebeccapurple;
    padding: 50px;
    margin: 20px;
    font-weight: 400;
    font-size: 20px;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}