table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #2fb195;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #25928d;
  }
  h1 {
    color: #fdffff;
  }