table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #e9967a;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #bc8f8f;
  }
  h1 {
    color: #fdffff;
  }
  p {
    color: blanchedalmond;
  }